// 颜色
@lightBackground: #f8f8f9;
@menuActiveBackground: #333333;
@menuActiveColor: #ffffff;
// 全局样式
* {
  padding: 0;
  margin: 0;
  border: 0;
}

// 临时的
.page-core {
  width: 1200px;
  margin: 0 auto;
}