<div class="document-page">
  <dv-header class="header"></dv-header>
  <div class="page">
    <div class="page-core">
      <div class="list-menu">
        <div class="list-item-container" v-for="item,index in menu" :key="index">
          <div class="link" v-if="item.isMarkdownPage === true" :style="item.style">
            <div class="list-item list-item-active" v-if="activeMenu === item.key">{{item.name}}</div>
            <div class="list-item" v-else @click="handleRoute(item.key)">{{item.name}}</div>
          </div>
          <div class="not-a-link" v-else :style="item.style">
            {{item.name}}
          </div>
        </div>
      </div>
      <div class="main">
        <div class="markdown-body">
          <div v-for="c,index in mdList" :key="index" :is="allMds[c]" v-if="c === $route.params.routeId"></div>
        </div>
      </div>
    </div>
  </div>
</div>